:root {
    /* color-theme: https://github.com/joshdick/onedark.vim */
    --bg-color: #282C34;
    --fg-color: #ABB2BF;
    --primary-color: #E06C75;
    --secondary-color: #98C379;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font: 1.2em "Fira Sans", sans-serif;
    color: var(--fg-color);
}

button {
    background-color: var(--fg-color);
    border: none;
    color: var(--bg-color);
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

#timer {
    align-self: center;
}

#timer > #timer-time {
    color:var(--primary-color);
    font-size: 7rem;
    margin: 0;
}

#timer #timer-controls {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#timer #timer-controls button {
    margin: 5px 0 ;
}