:root {
    /* color-theme: https://github.com/joshdick/onedark.vim */
    --study-color: #E06C75;
    --break-color: #98C379;
    --bg-color: #282C34;
    --fg-color: #ABB2BF;
    --primary-color: #E06C75;
    --secondary-color: #98C379;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font: 1.2em "Fira Sans", sans-serif;
    color: var(--fg-color);
}

button {
    text-decoration: none;
    color: var(--bg-color);
}

button[tab-button] {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: none;
    font-size: 1em;
    padding: 10px;
    margin: 3px 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* shoutouts to w3schools */
}

button[tab-button][aria-selected=true] {
    border-bottom: solid var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;

    opacity: 0;
    transition: opacity .75s;
}

nav:hover {
    opacity: 1;
}

main {
    align-self: center;
}

#prefs div {
    /* width: 100vw; */
    display: grid;
    grid-template-columns: [description] 1fr [setting-panel] 2fr [current-value] 1fr;

    & .pref-name {
        grid-column: description;
    }

    & .pref-input {
        grid-column: setting-panel;
    }

    & .pref-value {
        grid-column: current-value;
    }
}


#timer {
    align-self: center;
}

#timer #timer-time {
    color: var(--primary-color);
    font-size: 7rem;
    margin: 0;
}

#timer #timer-controls {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#timer #timer-controls button {
    margin: 5px 0;
    background-color: var(--fg-color);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}

.hidden {
    /* display: none; does not work since styling pages as grid wouldn't work because it overrides display*/
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}